<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/mvc
			http://www.springframework.org/schema/mvc/spring-mvc.xsd
			http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context.xsd
			http://code.alibabatech.com/schema/dubbo
			http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 1. 配置组件扫描 -->
    <context:component-scan base-package="com.itcast.web"/>

    <!-- 2. 配置mvc注解驱动 以便controller返回值支持json -->
    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes" value="application/json"/>
                <property name="features">
                    <array>
                        <value>WriteMapNullValue</value>
                        <value>WriteDateUseDateFormat</value>
                    </array>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 将应用和注册中心连接 -->
    <!-- 1. 配置当前应用名称 用于服务注册中心计算应用之间的依赖关系 必须唯一 -->
    <dubbo:application name="ssm_manager_web"/>

    <!-- 2. 配置服务注册中心ip  -->
    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>

    <!-- 3. 配置注解包扫描 -->
    <dubbo:annotation package="com.itcast.web"/>

    <!-- 4. 配置启动时不检查依赖 -->
    <dubbo:consumer check="false"/>

</beans>